{ 'alg_config':
  {
    'batch_size_per_learner': [1200],
    'gamma': [0.99],
    'train_iterations': 10000,
    'checkpoint_freq': 1000,
    'checkpoint_length': 3000, #3000/10 = 300/60 = 5 minutes
},
  'env_config' :
    {
      'rho' : 1.239,
      'g' : 9.81,
      'physics_frequency': 120,
      'action_frequency': 10,
      'max_episode_length': 6000, #6000/10 = 600/60 = 10 minutes
      'team_number': 2,
      'agent_number_team': 3,
      'agent_report_name': 'none',
      'plane_model': [0, 0],  # Select UAV model for each team (1, 2, or 3)
      'stepwise_tone_increment':0.01,
      'tone_threshold':0.5,
      'autotrigger': True,
      'trigger_threshold': 0,
      'min_bases_distance': 10000,
      'env_size':[15000, 15000, 10000],
      'max_size': 30000,
      'collision_distance': 30,
      'dummy': 'line', # 'line', 'curve', 'none', 'mixed', 'random'
      'dummy_turn_radius':5000,
      'dummy_direction':1,
      'dummy_kill': False,
      'alive_agents_start': 1,
      'speed_step': 0.01,
      'UpAngle_step': 0.001,
      'SideAngle_step': 0.001,
      'screen_size' : [800, 800],
      'spawning_distance': 3000,
      'spawning_orientations': [[0, 10, -10], [0, 90, -90, 180]],
      'spawning_speeds': [120, 140, 160, 180],
      'reward_versions': {
            1: {
                'GFW': 0.2,   # Flight Reward Weight
                'PW': 0.8,    # Pursuit Reward Weight
                'CW': 0.8,
                'AW': 0.2,
                'AoA_W': 0.0,
                'Sideslip_W': 0.0,
                'Speed_W': 0.5,
                'Altitude_W': 0.5,
                'Critical_AoA': 35,
                'Terminal_AoA': 70,
                'Critical_Sideslip': 35,
                'Terminal_Sideslip': 70,
                'Critical_Speed': 150.0,
                'Terminal_Speed': 80.0,
                'Critical_Altitude': 3500.0,
                'optimal_zone_width': 1000,
                'att_tone_bonus': 0.5,
                'def_tone_bonus': 0.5,
                'Trigger_Penalty': 0.5,
                'kill_bonus': 0,
                'terminal_penalty': 1000,
                'tan_parameter':2.5  # linear for tan_parameter=5, sparse for tan_parameter=2
            },
            2: {
                'GFW': 0.2,   # Flight Reward Weight
                'PW': 0.8,    # Pursuit Reward Weight
                'CW': 0.8,
                'AW': 0.2,
                'AoA_W': 0.0,
                'Sideslip_W': 0.0,
                'Speed_W': 0.5,
                'Altitude_W': 0.5,
                'Critical_AoA': 35,
                'Terminal_AoA': 70,
                'Critical_Sideslip': 35,
                'Terminal_Sideslip': 70,
                'Critical_Speed': 150.0,
                'Terminal_Speed': 80.0,
                'Critical_Altitude': 3500.0,
                'optimal_zone_width': 1000,
                'att_tone_bonus': 1,
                'def_tone_bonus': 1,
                'Trigger_Penalty': 0.5,
                'kill_bonus': 0,
                'terminal_penalty': 1000,
                'tan_parameter':2.5  # linear for tan_parameter=5, sparse for tan_parameter=2
            },
            3: {
                'GFW': 0.2,   # Flight Reward Weight
                'PW': 0.8,    # Pursuit Reward Weight
                'CW': 0.8,
                'AW': 0.2,
                'AoA_W': 0.0,
                'Sideslip_W': 0.0,
                'Speed_W': 0.5,
                'Altitude_W': 0.5,
                'Critical_AoA': 35,
                'Terminal_AoA': 70,
                'Critical_Sideslip': 35,
                'Terminal_Sideslip': 70,
                'Critical_Speed': 150.0,
                'Terminal_Speed': 80.0,
                'Critical_Altitude': 3500.0,
                'optimal_zone_width': 1000,
                'att_tone_bonus': 2,
                'def_tone_bonus': 2,
                'Trigger_Penalty': 0.5,
                'kill_bonus': 0,
                'terminal_penalty': 1000,
                'tan_parameter':2.5  # linear for tan_parameter=5, sparse for tan_parameter=2
            },
            4: {
                'GFW': 0.2,   # Flight Reward Weight
                'PW': 0.8,    # Pursuit Reward Weight
                'CW': 0.8,
                'AW': 0.2,
                'AoA_W': 0.0,
                'Sideslip_W': 0.0,
                'Speed_W': 0.5,
                'Altitude_W': 0.5,
                'Critical_AoA': 35,
                'Terminal_AoA': 70,
                'Critical_Sideslip': 35,
                'Terminal_Sideslip': 70,
                'Critical_Speed': 150.0,
                'Terminal_Speed': 80.0,
                'Critical_Altitude': 3500.0,
                'optimal_zone_width': 1000,
                'att_tone_bonus': 5,
                'def_tone_bonus': 5,
                'Trigger_Penalty': 0.5,
                'kill_bonus': 0,
                'terminal_penalty': 1000,
                'tan_parameter':2.5  # linear for tan_parameter=5, sparse for tan_parameter=2
            },
            5: {
                'GFW': 0.2,   # Flight Reward Weight
                'PW': 0.8,    # Pursuit Reward Weight
                'CW': 0.8,
                'AW': 0.2,
                'AoA_W': 0.0,
                'Sideslip_W': 0.0,
                'Speed_W': 0.5,
                'Altitude_W': 0.5,
                'Critical_AoA': 35,
                'Terminal_AoA': 70,
                'Critical_Sideslip': 35,
                'Terminal_Sideslip': 70,
                'Critical_Speed': 150.0,
                'Terminal_Speed': 80.0,
                'Critical_Altitude': 3500.0,
                'optimal_zone_width': 1000,
                'att_tone_bonus': 10,
                'def_tone_bonus': 10,
                'Trigger_Penalty': 0.5,
                'kill_bonus': 0,
                'terminal_penalty': 1000,
                'tan_parameter':2.5  # linear for tan_parameter=5, sparse for tan_parameter=2
            },
            6: {
                'GFW': 0.2,   # Flight Reward Weight
                'PW': 0.8,    # Pursuit Reward Weight
                'CW': 0.8,
                'AW': 0.2,
                'AoA_W': 0.0,
                'Sideslip_W': 0.0,
                'Speed_W': 0.5,
                'Altitude_W': 0.5,
                'Critical_AoA': 35,
                'Terminal_AoA': 70,
                'Critical_Sideslip': 35,
                'Terminal_Sideslip': 70,
                'Critical_Speed': 150.0,
                'Terminal_Speed': 80.0,
                'Critical_Altitude': 3500.0,
                'optimal_zone_width': 1000,
                'att_tone_bonus': 0.5,
                'def_tone_bonus': 0.5,
                'Trigger_Penalty': 0.5,
                'kill_bonus': 0,
                'terminal_penalty': 1000,
                'tan_parameter':3  # linear for tan_parameter=5, sparse for tan_parameter=2
            },
            7: {
                'GFW': 0.2,   # Flight Reward Weight
                'PW': 0.8,    # Pursuit Reward Weight
                'CW': 0.8,
                'AW': 0.2,
                'AoA_W': 0.0,
                'Sideslip_W': 0.0,
                'Speed_W': 0.5,
                'Altitude_W': 0.5,
                'Critical_AoA': 35,
                'Terminal_AoA': 70,
                'Critical_Sideslip': 35,
                'Terminal_Sideslip': 70,
                'Critical_Speed': 150.0,
                'Terminal_Speed': 80.0,
                'Critical_Altitude': 3500.0,
                'optimal_zone_width': 1000,
                'att_tone_bonus': 0.5,
                'def_tone_bonus': 0.5,
                'Trigger_Penalty': 0.5,
                'kill_bonus': 0,
                'terminal_penalty': 1000,
                'tan_parameter':2.2  # linear for tan_parameter=5, sparse for tan_parameter=2
            },
            8: {
                'GFW': 0.2,   # Flight Reward Weight
                'PW': 0.8,    # Pursuit Reward Weight
                'CW': 1,
                'AW': 0,
                'AoA_W': 0.0,
                'Sideslip_W': 0.0,
                'Speed_W': 0.5,
                'Altitude_W': 0.5,
                'Critical_AoA': 35,
                'Terminal_AoA': 70,
                'Critical_Sideslip': 35,
                'Terminal_Sideslip': 70,
                'Critical_Speed': 150.0,
                'Terminal_Speed': 80.0,
                'Critical_Altitude': 3500.0,
                'optimal_zone_width': 1000,
                'att_tone_bonus': 0,
                'def_tone_bonus': 0,
                'Trigger_Penalty': 0.5,
                'kill_bonus': 0,
                'terminal_penalty': 1000,
                'tan_parameter':2.5  # linear for tan_parameter=5, sparse for tan_parameter=2
            },
        }
    },

  'uav_config' :
    {0:  # UAV Model 0
       {
       'mass': 4000,
       'max_speed':343, #speed of sound (after this the aero model is not realistic anymore)
       'max_acc': 20,
       'attack_cone': [120, 1000, 5000],
       'defence_cone': [200, 1000, 5000],
       'bounding_box': [9413, 8017, 1446],
       'inertia_tensor':
         [ [6.817e3, 0, 0 ],
           [0, 3.551e4, 0],
           [0, 0, 4.151e4]],
         #[[6.817e3,1.924e-1, 1.671e2],
         # [1.924e-1,3,551e4,4.791e2],
         # [1.671e2,-2.288e-3,4.151e4]],

       'airframe':
         {
           'coefficients':
             {
               'front' : {
                           'lift': [-0.0000033911279, -0.0000178357992, 0.0128228674137, 0.031668845813],
                           'drag': [0.0001452967676, 0.0000783996205, 0.01],
               },
               'side': {
                         'lateral':[-0.0000003732703, 0, 0.001555689069, 0],
                         'drag':[0.0000164511278, 0, 0.0208105263158],
               },
             },
           'COF' : [-0.3, 0, 0],
           'surface': 88.58,
       },

       'aleiron':
         {
           'coefficients': {
             'lift': [ 0.0000000065, 0.000004168, -0.0000262498, -0.0165697988, 0.1657873007 ],
             'drag': [ 0.0000001361, 0.000056624, -0.0004479701, 0.01 ],
           },
           'COF': [ -2, 3, 0 ],
           'surface': 2,
         },

       'elevons': {
         'coefficients': {
           'lift': [-0.0000021006, 0.0000014209, 0.0170200042, -0.0043365995],
           'drag': [0.0002803707, 0.0002215203, 0.01],
         },
         'COF': [-3.65,0,0],
         'surface':  6,
       },

       'rudders': {
         'coefficients': {
           'lateral': [-0.0000026576, 0, 0.021438325, 0],
           'drag': [-0.0001966466, 0, 0.01],
         },
         'COF': [ -3, 0, 0 ],
         'surface': 4,
        },

       'max_thrust': 80000,
       "gains": {
            'AoA':      {'kp': 5, 'ki': 0.1, 'kd': 0.8},   # Angle of Attack control
            'sideslip': {'kp': 5, 'ki': 0.1, 'kd': 1.2},   # Lateral balance / sideslip
            'roll':     {'kp': 5, 'ki': 0.1, 'kd': 1.0},   # Roll angle control
            'speed':    {'kp': 80, 'ki': 0.8, 'kd': 0.0}   # Throttle/speed regulation
        },
        'rate_limits': {
          'elevator': 20,
          'aileron': 20,
          'rudder': 20,
          'throttle': 20,
        }
  },

  1: {
      'mass': 0,
       'max_speed':343, #speed of sound (after this the aero model is not realistic anymore)
       'max_acc': 20,
       'attack_cone': [120, 1000, 5000],
       'defence_cone': [120, 1000, 5000],
       'bounding_box': [0,0,0],
       'inertia_tensor':
         [ [0, 0, 0 ],
           [0, 0, 0],
           [0, 0, 0]],
         #[[0,0, 0],
         # [0,0,0],
         # [0,0,0]],

       'airframe':
         {
           'coefficients':
             {
               'front' : {
                           'lift': [0, 0, 0, 0],
                           'drag': [0, 0, 0],
               },
               'side': {
                         'lateral':[0, 0, 0, 0],
                         'drag':[0, 0, 0],
               },
             },
           'COF' : [0, 0, 0],
           'surface': 0,
       },

       'aleiron':
         {
           'coefficients': {
             'lift': [ 0, 0, 0, 0, 0],
             'drag': [ 0, 0, 0, 0],
           },
           'COF': [ 0, 0, 0 ],
           'surface': 0,
         },

       'elevons': {
         'coefficients': {
           'lift': [0, 0, 0, 0],
           'drag': [0, 0, 0],
         },
         'COF': [0,0,0],
         'surface':  0,
       },

       'rudders': {
         'coefficients': {
           'lateral': [0, 0, 0, 0],
           'drag': [0, 0, 0],
         },
         'COF': [ 0, 0, 0 ],
         'surface': 0,
       },

       'max_thrust': 0,

       "gains": {
          "AoA": {"kp": 5, "ki": 3, "kd": 1},
          "sideslip": {"kp": 8, "ki": 2, "kd": 1.8},
          "roll": {"kp": 10, "ki": 0.2, "kd": 2},
          "speed": {"kp": 80, "ki": 0.8, "kd": 0.0},
        },
        'rate_limits': {
          'elevator': 5.0,
          'aileron': 5.0,
          'rudder': 10.0,
          'throttle': 0.8,
        }
  }
  
  }
}
