{ 'alg_config':
  {
    "WANDB_API_KEY": "1b8b77cc6fc3631890702b9ecbfed2fdc1551347",
    'artifacts_folder': 'Training_Runs',
    'run_name':'FinalTrain_Pursuit_C1',
    'base_checkpoint': '',
    'adversary_base_checkpoint': '',
    'base_policy_restore': [],
    'policies_to_train': ['team_0'],
    'fcnet_hiddens': [256],
    'fcnet_activation': ['relu'],
    'actor_learning_rate': [0.00003],
    'critic_learning_rate': [0.0003],
    'entropy_learning_rate': [0.0003],
    'initial_alpha': [1],
    'tau': [0.005],
    'replay_buffer_capacity': [500000],
    'num_env_runners': 11,
    'num_envs_per_env_runner': 1,
    'num_cpus_per_env_runner': 1,
    'num_gpus_per_env_runner': 0,
    'batch_mode': "truncate_episodes",
    'sample_timeout_s': 120,
    'batch_size_per_learner': [1200],
    'gamma': [0.99],
    'train_iterations': 25000,
    'checkpoint_freq': 1000,
    'checkpoint_length': 3000, #3000/10 = 300/60 = 5 minutes
},
  'env_config' :
    {
      'rho' : 1.239,
      'g' : 9.81,
      'physics_frequency': 120,
      'action_frequency': 10,
      'max_episode_length': 6000, #6000/10 = 600/60 = 10 minutes
      'team_number': 2,
      'agent_number_team': 3,
      'agent_report_name': 'none',
      'plane_model': [0, 0],  # Select UAV model for each team (1, 2, or 3)
      'stepwise_tone_increment':0.01,
      'tone_threshold':0.5,
      'autotrigger': False,
      'trigger_threshold': 0,
      'min_bases_distance': 10000,
      'env_size':[15000, 15000, 10000],
      'max_size': 30000,
      'collision_distance': 30,
      'dummy': 'line', # 'line', 'curve', 'none', 'mixed', 'random'
      'change_speed': False, 
      'random_change_period_options': [150, 250, 400],
      'dummy_turn_options': [1000, 2500, 4000, 5000], 
      'dummy_dir_options': [1, -1],
      'dummy_speed_options': [0, 10, -10, 20, -20],
      'dummy_kill': False,
      'alive_agents_start': 1,
      'speed_step': 0.01,
      'UpAngle_step': 0.001,
      'SideAngle_step': 0.001,
      'screen_size' : [800, 800],
      'spawning_distance': 3000,
      'spawning_orientations': [[0, 10, -10], [0, 90, -90, 180]],
      'spawning_speeds': [120, 140, 160, 180, 200, 220, 250],
      'reward_versions': {
            1: {
                'GFW': 0.2,   # Flight Reward Weight
                'PW': 0.8,    # Pursuit Reward Weight
                'CW': 0.8,
                'AW': 0.2,
                'AoA_W': 0.0,
                'Sideslip_W': 0.0,
                'Speed_W': 0.4,
                'Altitude_W': 0.3,
                'Smoothing_W': 0.3,
                'Critical_AoA': 35,
                'Terminal_AoA': 70,
                'Critical_Sideslip': 35,
                'Terminal_Sideslip': 70,
                'Critical_Speed': 150.0,
                'Terminal_Speed': 80.0,
                'Critical_Altitude': 2000,
                'Critical_Delta': 0.1,
                'optimal_zone': 1000,
                'att_tone_bonus': 0.5,
                'def_tone_bonus': 0.5,
                'trigger_penalty': 0.5,
                'kill_bonus': 100,
                'terminal_penalty': 1000,
                'tan_parameter':3,  # linear for tan_parameter=5, sparse for tan_parameter=2
            },
        }
    },

  'uav_config' :
    {0:  # UAV Model 0
       {
       'mass': 4000,
       'max_speed':343, #speed of sound (after this the aero model is not realistic anymore)
       'max_acc': 20,
       'max_thrust': 80000,
       'attack_cone': [120, 1000, 5000],
       'defence_cone': [200, 1000, 5000],
       'bounding_box': [9413, 8017, 1446],
       'inertia_tensor':
         [ [6.817e3, 0, 0 ],
           [0, 3.551e4, 0],
           [0, 0, 4.151e4]],
         #[[6.817e3,1.924e-1, 1.671e2],
         # [1.924e-1,3,551e4,4.791e2],
         # [1.671e2,-2.288e-3,4.151e4]],

       'aerobrake_CD': 0.4,
       'aerobrake_surface': 3,
       'airframe':
         {
           'coefficients':
             {
               'front' : {
                           'lift': [-0.0000033911279, -0.0000178357992, 0.0128228674137, 0.031668845813],
                           'drag': [0.0001452967676, 0.0000783996205, 0.01],
               },
               'side': {
                         'lateral':[-0.0000003732703, 0, 0.001555689069, 0],
                         'drag':[0.0000164511278, 0, 0.0208105263158],
               },
             },
           'COF' : [-0.3, 0, 0],
           'surface': 88.58,
       },

       'aleiron':
         {
           'coefficients': {
             'lift': [ 0.0000000065, 0.000004168, -0.0000262498, -0.0165697988, 0.1657873007 ],
             'drag': [ 0.0000001361, 0.000056624, -0.0004479701, 0.01 ],
           },
           'COF': [ -2, 3, 0 ],
           'surface': 2,
         },

       'elevons': {
         'coefficients': {
           'lift': [-0.0000021006, 0.0000014209, 0.0170200042, -0.0043365995],
           'drag': [0.0002803707, 0.0002215203, 0.01],
         },
         'COF': [-3.65,0,0],
         'surface':  6,
       },

       'rudders': {
         'coefficients': {
           'lateral': [-0.0000026576, 0, 0.021438325, 0],
           'drag': [-0.0001966466, 0, 0.01],
         },
         'COF': [ -3, 0, 0 ],
         'surface': 4,
        },
       "gains": {
            'AoA':      {'kp': 1.2, 'ki': 0, 'kd': 0.8},   # Angle of Attack control
            'sideslip': {'kp': 5, 'ki': 0.1, 'kd': 1.2},   # Lateral balance / sideslip
            'roll':     {'kp': 5, 'ki': 0.1, 'kd': 1.0},   # Roll angle control
            'speed':    {'kp': 20, 'ki': 0.8, 'kd': 0.0}   # Throttle/speed regulation
        },
        'rate_limits': {
          'elevator': 20,
          'aileron': 20,
          'rudder': 20,
          'throttle': 20,
        }
  },

  1: {
      'mass': 0,
       'max_speed':343, #speed of sound (after this the aero model is not realistic anymore)
       'max_acc': 20,
       'max_thrust': 0,
       'attack_cone': [120, 1000, 5000],
       'defence_cone': [120, 1000, 5000],
       'bounding_box': [0,0,0],
       'inertia_tensor':
         [ [0, 0, 0 ],
           [0, 0, 0],
           [0, 0, 0]],
         #[[0,0, 0],
         # [0,0,0],
         # [0,0,0]],

       'aerobrake_CD': 0.4,
       'aerobrake_surface': 3,
       'airframe':
         {
           'coefficients':
             {
               'front' : {
                           'lift': [0, 0, 0, 0],
                           'drag': [0, 0, 0],
               },
               'side': {
                         'lateral':[0, 0, 0, 0],
                         'drag':[0, 0, 0],
               },
             },
           'COF' : [0, 0, 0],
           'surface': 0,
       },

       'aleiron':
         {
           'coefficients': {
             'lift': [ 0, 0, 0, 0, 0],
             'drag': [ 0, 0, 0, 0],
           },
           'COF': [ 0, 0, 0 ],
           'surface': 0,
         },

       'elevons': {
         'coefficients': {
           'lift': [0, 0, 0, 0],
           'drag': [0, 0, 0],
         },
         'COF': [0,0,0],
         'surface':  0,
       },

       'rudders': {
         'coefficients': {
           'lateral': [0, 0, 0, 0],
           'drag': [0, 0, 0],
         },
         'COF': [ 0, 0, 0 ],
         'surface': 0,
       },

       "gains": {
          "AoA": {"kp": 5, "ki": 3, "kd": 1},
          "sideslip": {"kp": 8, "ki": 2, "kd": 1.8},
          "roll": {"kp": 10, "ki": 0.2, "kd": 2},
          "speed": {"kp": 80, "ki": 0.8, "kd": 0.0},
        },
        'rate_limits': {
          'elevator': 5.0,
          'aileron': 5.0,
          'rudder': 10.0,
          'throttle': 0.8,
        }
  }
  
  }
}
